@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    
}

.background {
    background-image: url('../Images/bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: scroll;
}

.registration-form {
    background-color: rgba(255, 255, 255, 0.7);
    /* padding: 20px */
    padding: 40px; 
    border-radius: 10px;
    max-width: 500px;
    width: 80%;
    margin: 0 auto;
    margin-top: 90px;   
}

.registration-form h2 {
    text-align: center;
}

.registration-form form {
    display: flex;
    flex-direction: column;
}

.registration-form input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.registration-form button {
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.registration-form button:hover {
    background-color: #45a049;
}

nav, nav .navbar, nav .navbar a, nav ul li a { 
  font-family: "Montserrat" !important;
}

nav{
    width: 100%;
    position: fixed;
    background-color: rgb(0, 0, 0);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 15%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
nav .logo{
    width: 150px;
    margin: 2vh;
    margin-left: 8%;
}
  
  nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
  }
  
  .navbar{
    display: flex;
    margin-right: 4vh;
    z-index: 5;
  }
  
  
  .navbar a{
    color: white;
    font-size: 18px;
    padding: 10px 22px;
    border-radius: 4px;
    font-weight: 500;   
    text-decoration: none;
    transition: ease 0.40s; 
  }
  
  .navbar a:hover,.navbar a.active{
    background: white;
    color: black;
    box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
    border-radius: 5px;
  }
  
  nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 17px;
  }
  
.footer{
    margin-top: 80px;
    background-color: rgb(0, 0, 0);
  }
  
  .foot{
    padding: 20px 0;
  }
  
  .footer-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
  }
  
  .footlinks h4{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin-bottom: 30px;
    position: relative;
  }
  
  
  .footlinks h4::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 70px;
    left: 0;
    bottom: -7px;
    background: white;
  }
  
  .footlinks ul li{
    margin-bottom: 15px;
  }
  
  .footlinks ul li a{
    font-size: 17px;
    color: #dddddd;
    display: block;
    transition: ease 0.30s;
  }
  
  .footlinks ul li a:hover{
    transform: translate(6px);
    color: white;
  }
  
  .social a{
    font-size: 25px;
    margin: 4px;
    height: 40px;
    width: 40px;
    color: rgb(0, 0, 0);
    background-color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: ease 0.30s;
  }
  
  .social a:hover{
    transform: scale(1.2);
  }
  
  .end{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 12px;
  }
  
  .end p{
    font-size: 15px;
    color: white;
    letter-spacing: 1px;
    font-weight: 300;
  }
  

